@model IEnumerable<Proyecto_21351029.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="users" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.account_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complete_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.account_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.complete_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.account_number }) |
                    @Html.ActionLink("Details", "Details", new { id = item.account_number }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.account_number })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#users").DataTable();
        })
    </script>
}